body {
  background: #3B3B3B;
  color: #1D1D1F;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.title-card {

    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
    color: #FF3B30;   
}

.title-card-links {
    display: flex;
    gap: 30px;
    font-size: 2rem;
    padding: 25px;
    margin-left: 20px
}

.title-card-links a {
    color: #f4463d;
    text-decoration: none;
}

.title-card-selected a {

    color: #BC2131;
    text-decoration: none;

}

.project-card {

    
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 25px;
    margin-left: 20px

}

.project-card img {

    margin-left: 20px;
}

.project-card a {

    color: #1D1D1F;
    font-size: 2rem;
    text-decoration: none;

}

.traffic-card {

    background: #1D1D1F;
    color: #5856D6;


}

.traffic-body-text {

    color: #303033;
    font-size: 1rem;

}