body {
  background: #3B3B3B;
  color: #1D1D1F;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.title-card {

    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
    color: #FF3B30;   
}

.title-card-links {

    display: flex;
    gap: 30px;
    color: #f4463d;
    font-size: 2rem;
    padding: 25px;
    margin-left: 20px
}

.traffic-card {

    background: #1D1D1F;
    color: #5856D6;


}